<html>

<head>
    <title>
        {{ if .Post }}{{ .Post.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    </title>
    <!-- include style.css -->
    <link rel="stylesheet" href="{{.Site.Prefix}}/dist/style.css">
    <!-- include search.js -->
    <script src="{{.Site.Prefix}}/dist/search.js"></script>
</head>

<body>

    <div>
        <h2>Menu</h2>
        <ul>
            {{ range .Site.Menu.Items }}
            <li>
                <a href="{{.Href}}">{{.Title}}</a>
                {{ if .Children }}
                <ul>
                    {{ range .Children }}
                    <li>
                        <a href="{{.Href}}">{{.Title}}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </li>
            {{ end }}
        </ul>
    </div>