<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0)

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target
                const $target = document.getElementById(target)

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active')
                $target.classList.toggle('is-active')

            })
        })

    });
</script>

<nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="site-nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="site-nav" class="navbar-menu">

        <div class="navbar-start">
            {{ range .Args.Items }}

            {{ if .Children}}

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" {{if .Href}}href="{{.Href}}" target="{{.Target}}" {{end}}>
                    {{.Title}}
                </a>
                <div class="navbar-dropdown">
                    {{ range .Children }}
                    <a class="navbar-item" {{if .Href}}href="{{.Href}}" target="{{.Target}}" {{end}}>
                        {{.Title}}
                    </a>
                    {{ end }}
                </div>
            </div>

            {{ else }}

            <a class="navbar-item" {{if .Href}}href="{{.Href}}" target="{{.Target}}" {{end}}>
                {{.Title}}
            </a>

            {{ end }}
            {{ end }}

        </div>
    </div>
</nav>

{{ if not .Args.Items }}
<ul>

    {{ range .Args.Items }}
    <li>
        {{ if .Href }}
        <a href="{{.Href}}" target="{{.Target}}">{{.Title}}</a>
        {{ else }}
        {{.Title }}
        {{ end }}
        {{ if .Children }}
        {{ tpl "menu.html" "Items" .Children }}
        {{ end }}
    </li>
    {{ end}}
</ul>
{{ end }}